.carousel-item-home-bg {
  background: rgb(7, 15, 32);
  background: linear-gradient(
    90deg,
    rgb(83, 7, 7) 6%,
    rgb(129, 7, 34) 69%,
    rgb(226, 185, 185) 100%
  );
}


.search-item-home-bg {
  background: rgb(7, 15, 32);
  background: linear-gradient(
    90deg,
    rgb(129, 7, 34) 5%,
    rgb(226, 185, 185) 100%
  );
}

.carousel-item-home {
  width: 100vw;
  height: 600px;
}
